.icon {
  width: 18px;
}

.diplayNone {
  display: none;
}

.container {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0 0;
  color: #fff;
}

.openHours {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 0.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.2rem;
}

.logo {
  width: 200px;
}

.navbarList {
  display: flex;
  align-items: center;
}
