iframe {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 4/ 3;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.map {
  margin: 1rem 0;
}
