.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.placeholder {
  background-color: #111;
  width: 100%;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  color: white;
  text-shadow: 0 0 10px black;
  user-select: none;
}

.video {
  width: 100%; /* Muy importante */
  max-width: 640px; /* Tamaño límite */
  display: block;
  border-radius: 8px;
  margin: 0 auto;
}

.video2 {
  display: none;
}

@media (min-width: 600px) {
  .video2 {
    width: 100%; /* Muy importante */
    max-width: 640px; /* Tamaño límite */
    display: block;
    border-radius: 8px;
    margin: 0 auto;
  }
  .video,
  .preview {
    display: none;
  }
}

@media (min-width: 1024px) {
  .video2 {
    max-width: 680px;
  }
}
